.button 
{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#White 
{
    background-color: #fff;
    color: black;
}

#Seafoam
{
    background-color: #93e9be;
}

#Shitass

{
    background-color: #8e562e;
}

#Black
{
    background-color: black;
}